* {
  font-family: Arial, Helvetica, sans-serif;
}
button,
btn:focus {
  outline: none;
  box-shadow: none;
}
h5 {
  margin-top: 40px;
}
h2 {
  margin-top: 20px;
}

.form-interface {
  margin: 30px auto;
  max-width: 550px;
}

.btn {
  padding: 10px 100px;
  border-radius: 50px;
  margin: 40px auto;
}

.nav {
  padding: 10px;
}

/* added css variables */
body {
  --text-color: #222;
  --bg-color: #fff;
  --text-mild-color: #505050;
  --primary-color: #ff417e;
}

/* activates in dark theme */

body.dark-theme {
  --text-color: #eee;
  --bg-color: #121212;
  --text-mild-color: #fafafa;
  --primary-color: #ff417e;
}

/* our defaults dark theme */
@media (preference-theme: dark) {
  body {
    --text-color: #eee;
    --bg-color: #121212;
    --text-mild-color: #505050;
    --primary-color: #ff417e;
  }
  /* activates in light theme */

  body.light-theme {
    --text-color: #222;
    --bg-color: #fff;
    --text-mild-color: #9c9c9c;
    --primary-color: #ff417e;
  }
}

body {
  background: var(--bg-color);
}

h1,
p {
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
}
.btn-primary:hover {
  background-color: #ff417ea6;
}

h5 {
  color: var(--text-color);
}
h2 {
  color: var(--text-mild-color);
}
label.custom-control-label {
  color: var(--text-mild-color);
}
