* {
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  margin-top: 40px;
}
h2 {
  margin-top: 20px;
}
.btn-primary {
  background-color: #ff417e;
  border: none;
}
.btn-primary:hover {
  background-color: #ff417ea6;
}

.form-interface {
  margin: 30px auto;
  max-width: 550px;
}

.btn {
  padding: 10px 100px;
  border-radius: 50px;
  margin: 40px auto;
}

.nav {
  padding: 10px;
}

body {
  background: var(--bkg-color);
}

h1,
p {
  color: var(--text-color);
}

body {
  --text-color: #222;
  --bkg-color: #fff;
  --text-mild-color: #fafafa;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
  --text-mild-color: #fafafa;
}

@media (preference-theme: dark) {
  /* our defaults theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
    --text-mild-color: #fafafa;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
    --text-mild-color: #fafafa;
  }
}
